@use "_reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.app-background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
                  45deg,
                  #ff007a,
                  #a100ff,
                  #0078ff,
                  #00e1ff,
                  #00ff94,
                  #ffcb00,
                  #ff0055
  );
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}